@charset "utf-8";

* {
    font-family: "Trebuchet MS";
    color: #893101;
}

set{
    display: block;
    background-color: #FC6A03;
    width: 70%;
    margin: 5% 15% 10% 15%;
}

song {
    display: block;
    background-color: #FCAE1E;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 100px;
    border-radius: 50px;
    text-align: center;
}

title {
    display: block;
    text: italic;
    text-align: center;
    font-size: 20px;
    color: #893101;
}

artist {
    display: block;
    text-align: center;
}
        artist:before{content:"Artist: "; color:#893101;}

genre {
    display: block;
}
        genre:before{content:"Genre: "; color:#893101;}

year {
    display: block;
}
        year:before{content:"Year: "; color:#893101;}
